<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <!-- pybo CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Fayston🏫</title>
</head>
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
<a href=http://127.0.0.1:5000/question/list/>
<img src="{{url_for('static', filename= '/Image_logo/MainScreen.png')}}"style="max-width:auto; height:100%;">
        </a>
